name: Java CI - SmartGradeApp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # 1) Récupérer le code du repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2) Installer Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      # 3) Build Maven (compilation)
      - name: Build with Maven
        run: mvn -B clean compile
        # plus tard, quand tu auras des tests unitaires :
        # run: mvn -B clean test
